html {
  font-size: 16px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

input, button {
  border: 1px solid #ddd;
  height: 2em;
  box-sizing: border-box;
  font-size: 80%;
}

.root {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scrollable {
  flex: 1;
  overflow-y: auto;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  place-content: end;
  min-height: 100%;
}

.item, .total, .input {
  display: flex;
  gap: 8px;
}

.item {
  align-items: center;
}

.expr {
  flex: 1;
  text-align: right;
}

.input > input {
  flex: 1;
  text-align: right;
}

.controls {
  width: calc(4em + 1ex);
}

.controls > button {
  padding: 0;
  background: white;
  width: 2em;
}

.controls > button:not(:last-child) {
  margin-right: 1ex;
}
