html {
  font-size: 20px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

input, button {
  border: 1px solid #ddd;
}

.root {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scrollable {
  flex: 1;
  overflow-y: auto;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  place-content: end;
  min-height: 100%;
}

.item, .total, .input {
  display: flex;
  gap: 8px;
}

.item {
  align-items: center;
}

.expr {
  flex: 1;
  text-align: right;
}

.input > input,
.controls > button {
  height: 2em;
  line-height: 2em;
  box-sizing: border-box;
}

.input > input {
  flex: 1;
  text-align: right;
  font-size: 100%;
}

.input > input:focus {
  outline: 0 none;
}

.input > input.error {
  border-color: red;
}

.controls {
  width: calc(4em + 1ex);
}

.controls > button {
  font-size: 80%;
  padding: 0;
  background: white;
  width: 2em;
}

.controls > button:not(:last-child) {
  margin-right: 1ex;
}

.input > .controls > button {
  font-size: 100%;
  width: 1.6em;
}

.keyboard {
  display: grid;
  grid-template-areas:
    "one    two   three mul"
    "four   five  six   div"
    "seven  eight nine  bs"
    "kj     zero  kcal  cr";
  gap: 8px;
  grid-template-columns: repeat(4, calc((100% - 3 * 8px) / 4));
}

.keyboard > button {
  background: white;
  padding: 0;
  font-size: 100%;
  line-height: 2.5em;
  height: 2.5em;
}
